html,body{
    width: 100%;
    overflow-x: hidden ;
    margin: 0;
    padding: 0;
}
span{
    text-decoration: none;
}
footer{
    background-color: rgb(144, 238, 144, 0.5);
    color: rgb(14, 42, 2);
    h4{
        color: rgb(1, 40, 4);
    }
    
}

#img{
    border: 3px solid black;
}

#textFooter{
    text-decoration: none;
}
 

/* #footer{
    background-color: green;
} */